version: "3.7"

services:
  travelhoop:
      build:
        context: .
        dockerfile: ./docker/Dockerfile
        cache_from:
          - travelhoop:latest
      ports:
        - "3010:3010"
      env_file: 
        - ./src/app/travelhoop/.env.prod
      depends_on:
        - travelhoop-postgres
        - travelhoop-redis